<suite name="Test-class Suite" parallel="tests" thread-count="2">
    <test name="TestSuite1">
        <classes>
            <class name="tests.RegistrationTest"/>
        </classes>
    </test>
    <test name="TestSuite2">
        <classes>
            <class name="tests.RegistrationTestTwo"/>
        </classes>
    </test>
</suite>